body{
    text-align: center;
}
h3{
    color: rgb(211, 135, 35);
    font-family: cursive;
}
.grid{
   width: 610px;
   height: 610px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   padding-left: 30%;
}

.square{
    border: 2px solid skyblue;
    box-sizing: border-box;
    background-color: rgb(161, 245, 217);
    height: 200px;
    width: 200px;
}
.square:hover{
    background-color: rgb(91, 212, 131);
    box-shadow: 2px 2px 6px blue;
}
.mole{
    background-image: url("mole.jpg");
	background-size: cover;
}
#result{

}
